@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manual Pokedex</h2>

@Html.Partial("_data")

@section scripts{
    <script src="~/Scripts/Pokemon/pokemon.js"></script>
    <script>
        $(document).ready(function () {
            ko.applyBindings(new PokemonViewModel());
        });
    </script>
}