@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Manual Pokedex</h2>

@Html.Partial("_data")

<div class="panel panel-success" style="display: none">
    <div class="panel-heading">
        <h3 class="panel-title">Panel success</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Pokemon/pokemon.js"></script>
    <script>
        $(document).ready(function () {
            ko.applyBindings(new PokemonViewModel());
        });
    </script>
}