
        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Pokedex
                    <small>Pokemons Atrapados</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row" data-bind="foreach: pokemons">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" data-bind="attr: {src: getImageUrlOf($data)}" alt="">
                </a>
                <h3>
                    <a href="#" data-bind="text: Number + ' - ' + Name"></a>
                </h3>
                <p data-bind="text: Description"></p>
            </div>
        </div>
        <!-- /.row -->

@section scripts{
    <script src="/Scripts/Pokedex/Pokedex.List.js"></script>
}